.advantages__list {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 30px;
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(4,1fr);
  }
}

.advantages__item {
  padding: 70px 0 0 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 70px;
  }

  @media (min-width: $laptop-width) {
    padding: 70px 0 0 0;
  }
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 52px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%,-100%);

  @media (min-width: $tablet-width) {
    transform: translate(-125%,-25%);
  }
}

.advantages__item--speed::before {
  background-image: url("../../img/icon/stopwatch.svg");
}

.advantages__item--convenience::before {
  background-image: url("../../img/icon/pocket.svg");
}

.advantages__item--energy::before {
  background-image: url("../../img/icon/stopwatch.svg");
}

.advantages__item--eco::before {
  background-image: url("../../img/icon/eco.svg");
}


