.block__wrapper {
  padding: 20px;

  @media (min-width: $laptop-width) {
    padding: 40px;
  }
}

.block__h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin: 40px;
  }

  @media (min-width: $laptop-width) {
    margin: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 80px;
  }

  &::before {
    content: attr(data-heading-name);
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: $lavender_500;
    text-transform: uppercase;
  }
}

.block__h2--blank {
  color: $lavender_500;
}

.block__h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.block__h4 {
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $lavender_500;
}

.block__micro-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.block__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

