.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  word-break: break-word;
  min-height: 40px;
  padding: 8px 20px;
}

  .button--main-color {
    color: $white;
    background-color: $lavender_500;

  &:hover {
  background-color: $lavender_300;
  }

  &:active,
  :focus {
  background-color: $lavender_600;
  }

  &:disabled {
  background-color: $grey_500;
  }
}

.button--second-color {
  color: $lavender_500;
  background-color: $white;

  &:hover {
    background-color: $lavender_300;
    color:  $white;
    }

  &:active,
  :focus {
    background-color: $lavender_600;
    color:  $white;
    }

  &:disabled {
    background-color: $grey_400;
    color:  $white;
    }
}
