.fieldset {
  font-size: 16px;
  line-height: 24px;
}

.fieldset__title {
  font-weight: 600;
}

.fieldset__label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 17px 5px 17px 77px;
}

.fieldset__input {
  margin: 0 10px 0 0;
  appearance: none;
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


