.hide-show__show-since-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hide-show__hide-since-tablet {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

