.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__toggle {
  display: none;
}

.main-nav__toggle--js {
  display: block;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
  background-image: url("../../img/icon/cross.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--js:hover {
  opacity: 0.6;
}

.main-nav__toggle--js:active {
  opacity: 0.3;
}

@media (max-width: $mobile-width) {
  .main-nav--closed {
    .main-nav__list {
      display: none;
    }

    .main-nav__toggle--js {
      background-image: url("../../img/icon/menu.svg");
      width: 16px;
      height: 16px
    }
  }

  .main-nav--js {
    position: absolute;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: $landscape-width) {
  .main-nav__item {
    border-bottom: solid 1px $lavender_100;
  }

  .main-nav__item:first-child {
    border-top: solid 1px $lavender_100;
    margin-top: 1px;
  }

@media (max-width: $mobile-width) {
  .main-nav__item:hover {
    background-color: $lavender_200;
  }

  .main-nav__item:active {
    background-color:  $lavender_500;

    .main-nav__link {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    width: 20%;
  }

  .main-nav__item:hover {
    .main-nav__link {
      color: $lavender_200;
    }
  }

  .main-nav__item:active {
    .main-nav__link {
      opacity: 0.3;
    }
  }
}

.main-nav__link {
  display: block;
  font-weight: 700;
  color: $black;
  padding: 15px 5px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 40px;
    color: $white;
    padding: 10px 10px 5px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link--current {
    color:  $lavender_200;
  }

  .main-nav__item--current:hover {
    .main-nav__link--current {
      color:  $lavender_500;
    }
  }
}
}
