.map {
  height: 420px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/icon/map-marker.svg"), url("../../img/background/map--phone.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/icon/map-marker.svg"), url("../../img/background/map--phone@2x.jpg");
  }

  @media (min-width: $phablet-width) {
    height: 450px;
    background-image: url("../../img/icon/map-marker.svg"), url("../../img/background/map--phablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/icon/map-marker.svg"), url("../../img/background/map--phablet@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    height: 480px;
    background-image: url("../../img/icon/map-marker.svg"), url("../../img/background/map--tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/icon/map-marker.svg"), url("../../img/background/map--tablet@2x.jpg");
    }
  }

  @media (min-width: $laptop-width) {
    height: 510px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}
