.map {
  height: 420px;

  @media (min-width: $phablet-width) {
    height: 450px;
  }
  @media (min-width: $tablet-width) {
    height: 480px;
  }
  @media (min-width: $laptop-width) {
    height: 510px;
  }
  @media (min-width: $desktop-width) {
    height: 540px;
  }
}
