.new-products__list {
  display: flex;
  text-align: center;
}

.new-products__item {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding: 20px 80px;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;
    gap: 30px;
  }
}

.new-products__item--1 {
  background-color: $coffee;
}

.new-products__item--2 {
  background-color: $lavender_200;
}

.new-products__item--3 {
  background-color: $grey_300;
}

.new-products__caption {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin: 0 0 10px 0;

  &::before {
    content: "Новинка!";
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: $lavender_500;
    text-transform: uppercase;
  }
}

.new-products__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 230px;

  @media (min-width: $laptop-width) {
    justify-content: start;
  }
}

.new-products__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $lavender_500;
  text-decoration: line-through;
  margin-right: 6px;
}

.new-products__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 20px;
}

.new-products__old-price::after,
.new-products__price::after {
  content: "\20BD";
}

.new-products__text {
  flex-basis: 50%;

  @media (min-width: $laptop-width) {
    flex-basis: 50%;
    text-align: left;
  }
}

.new-products__picture {
  flex-basis: 50%;
  order: -1;

  @media (min-width: $tablet-width) {
    order: 1;
    z-index: 1;
  }

  @media (min-width: $laptop-width) {
    order: -1;
    flex-basis: 50%;
  }
}
