.page {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.page__body {
  min-width: $phone-width;
  margin: 0;
  color: $grey_900;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: $phone-width;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $laptop-width) {
    min-width: $laptop-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
