.page {
  font-size: 14px;
  line-height: 26px;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
}

.page__body {
  min-width: $phone-width;
  margin: 0;
  color: $grey_900;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: $phone-width;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $laptop-width) {
    min-width: $laptop-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page__inner {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $laptop-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
  }
}
