.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header__nav {
  @media (max-width: $mobile-width) {
    order: -1;
    min-height: 60px;
  }

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }
}
