.products__item {
  display: flex;
  flex-direction: column;
  background-color: $white;

  &:hover,
  :focus {
    box-shadow: 0 5px 15px rgba($black, 0.15);
  }
}

.products__link {
  color: inherit;
}

.products__buy {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  min-width: 240px;
}

.products__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;

  &::after {
    content: "\20BD";
  }
}
