.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.social__link {
  width: 40px;
  height: 40px;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey_500;

  &:hover {
    background-color: $lavender_100;
    .social__icon {
      fill: $lavender_500;
    }
  }

  &:active {
    background-color: rgba($lavender_500, 0.25);
    .social__icon {
      fill: $lavender_500;
    }
  }
}

.social__icon {
  background-position: center;
  fill: $grey_500;
}
