.user-nav {
  align-content: center;

  @media (max-width: $landscape-width) {
    margin-right: 60px;
  }
}

.user-nav__link {
  @media (min-width: $laptop-width) {
    display: flex;
    align-items: center;
    gap: 8px;
    &::after {
      content: attr(data-user-link-name);
    }
  }
}
