// Viewports

$phone-width: 320px;
$phablet-width: ($phone-width) + 1px;
$tablet-width: 768px;
$landscape-width: ($tablet-width) - 1px;
$laptop-width: 1050px;
$mobile-width: ($laptop-width) - 1px;
$desktop-width: 1440px;

// Colors

$white: #ffffff; // base white
$coffee: #f3ebe1; // flat white
$grey_100: #f8f8f8; //lightest grey
$grey_300: #e5e6e8; //espresso
$grey_400: #e2e2e2; // light grey
$grey_500: #bdbdbd; //base grey
$grey_900: #333333; // base black
$black: rgb(0, 0, 0);
$lavender_100: #f0ebff; // base secondary
$lavender_200: #eae6fc; //labander Latte
$lavender_300: #9070ec;  //primary lighter
$lavender_500: #7859cf; // base primary  //opacie
$lavender_600: #593cac; // primary darker
